{% schema %}
{
  "name": "Ecom Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Explore our curated selection and find the perfect gifts."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
       {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Ecom Banner"
    }
  ]
}
{% endschema %}

<section class="ecom-banner" style="background: url({{ section.settings.background_image | image_url }}) center/cover no-repeat; padding: 100px 20px; text-align: center; color: black;">
 <div class="bannerContent"> 
 <div class="textContent"><h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
  </div>
  <a href="{{ section.settings.button_link }}" class="bannerBtn animatedButton" >{{ section.settings.button_text }} <span class="arrow">→</span></a>
 
 </div>
  </section>
   <div class="bannerFooter">  <p>{{ section.settings.footer_text }}</p></div>
